In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import matplotlib.pyplot as plt

import datetime

plt.style.use('fivethirtyeight')

In [2]:
dataset = pd.read_csv('data/DataForClustering.csv')
dataset.head()

,Date,XLF,XLK,XLI,HY,XLY,XLU,XLP,SPY,VBMFX,Target_FR12Mts
0,12/1/1998,19.039398,32.62500,24.562500,6.44,26.125000,30.234375,27.156250,123.31250,10.27,0.19
1,1/1/1999,19.369415,37.81250,24.296875,6.52,27.468750,29.484375,26.796875,127.65625,10.30,0.09
2,2/1/1999,19.674046,34.06250,24.515625,6.46,27.296875,28.671875,26.515625,123.56250,10.07,0.11
3,3/1/1999,20.257921,36.59375,24.937500,6.57,28.593750,26.687500,26.437500,128.37500,10.06,0.17
4,4/1/1999,21.679529,36.81250,28.687500,6.80,29.343750,29.265625,25.515625,133.25000,10.05,0.09

In [3]:
dataset['Class'] = np.where(dataset['Target_FR12Mts'] < 0, 1, 0)
dataset.head()

,Date,XLF,XLK,XLI,HY,XLY,XLU,XLP,SPY,VBMFX,Target_FR12Mts,Class
0,12/1/1998,19.039398,32.62500,24.562500,6.44,26.125000,30.234375,27.156250,123.31250,10.27,0.19,0
1,1/1/1999,19.369415,37.81250,24.296875,6.52,27.468750,29.484375,26.796875,127.65625,10.30,0.09,0
2,2/1/1999,19.674046,34.06250,24.515625,6.46,27.296875,28.671875,26.515625,123.56250,10.07,0.11,0
3,3/1/1999,20.257921,36.59375,24.937500,6.57,28.593750,26.687500,26.437500,128.37500,10.06,0.17,0
4,4/1/1999,21.679529,36.81250,28.687500,6.80,29.343750,29.265625,25.515625,133.25000,10.05,0.09,0

In [4]:
dropped_values = dataset.drop(['XLF','XLK','XLI','HY','XLY','XLU','XLP','SPY','VBMFX'],axis=1)
dropped_values

          Date  Target_FR12Mts  Class
0    12/1/1998            0.19      0
1     1/1/1999            0.09      0
2     2/1/1999            0.11      0
3     3/1/1999            0.17      0
4     4/1/1999            0.09      0
..         ...             ...    ...
236   8/1/2018            0.01      0
237   9/1/2018            0.02      0
238  10/1/2018            0.12      0
239  11/1/2018            0.14      0
240  12/1/2018            0.29      0

[241 rows x 3 columns]

In [5]:
X = dataset.drop(['Date','Class','Target_FR12Mts'], 1)
y = dataset['Class']

In [6]:


from sklearn import metrics
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [7]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(random_grid)
{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

{'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000], 'max_features': ['auto', 'sqrt'], 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4], 'bootstrap': [True, False]}

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [8]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestClassifier()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:    8.0s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:   30.9s
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  1.2min finished
C:\Users\Aalok Devkota\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

RandomizedSearchCV(cv=3, error_score='raise-deprecating',
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators='warn',
                                                    n_jobs=None,
                                                    oob_sc...
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [200, 400, 600, 800,
                                                         1000, 1200, 1400, 1600,
                                                         1800, 2000]},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=None, verbose=2)

In [9]:
print(rf_random.best_params_)

{'n_estimators': 600, 'min_samples_split': 5, 'min_samples_leaf': 1, 'max_features': 'sqrt', 'max_depth': 60, 'bootstrap': False}

In [10]:
print(rf_random.best_score_)

0.9120370370370371

In [11]:
y_pred = rf_random.predict(X_test)

In [12]:
from sklearn.metrics import confusion_matrix
y_pred = rf_random.predict(X_test)
import numpy as np
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[17  0]
 [ 1  7]]

In [13]:
# Calculate classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred,
                            ))

              precision    recall  f1-score   support

           0       0.94      1.00      0.97        17
           1       1.00      0.88      0.93         8

    accuracy                           0.96        25
   macro avg       0.97      0.94      0.95        25
weighted avg       0.96      0.96      0.96        25

In [14]:

train_rf_predictions = rf_random.predict(X_train)
train_rf_probs = rf_random.predict_proba(X_train)[:, 1]

rf_predictions = rf_random.predict(X_test)
rf_probs =rf_random.predict_proba(X_test)[:, 1]

In [15]:
# X_test['Prob'] = rf_probs.tolist()
# X_test

# frames = [dropped_values, X_test]

# result = pd.concat(frames, axis=1, sort=False)
# result

# result.to_csv(r'RF_DOWN_GS_Results_2.csv')

In [16]:
new_dataset = pd.read_csv('data/DataToPredict.csv')
new_dataset
new_dataset2 = new_dataset.drop(['Date'],axis=1)
new_dataset2

predict_new_dataset = rf_random.predict(new_dataset2)
print(predict_new_dataset)

new_score = rf_random.predict_proba(new_dataset2)[:, 1]
print(new_score)

new_dataset['Prob'] = new_score.tolist()


newRF_GS_Down = pd.DataFrame(new_dataset)
newRF_GS_Down

[0 0 0 1 0 1 1 1 1 1 1 1 1 1]
[0.         0.01097222 0.01583333 0.64513889 0.03333333 0.62902778
 0.65180556 0.61680556 0.65291667 0.65291667 0.79944444 0.79944444
 0.79944444 0.79944444]

,Date,XLF,XLK,XLI,HY,XLY,XLU,XLP,SPY,VBMFX,Prob
0,1/1/2019,25.940001,66.279999,71.769997,3.35,108.779999,54.759998,53.389999,269.929993,10.53,0.000000
1,2/1/2019,26.520000,70.860001,76.339996,3.39,110.209999,57.009998,54.340000,278.679993,10.50,0.010972
2,3/1/2019,25.709999,74.000000,75.029999,3.40,113.849998,58.169998,56.110001,282.480011,10.68,0.015833
3,4/1/2019,28.020000,78.709999,78.010002,3.43,120.070000,58.709999,57.709999,294.019989,10.66,0.645139
4,5/1/2019,26.010000,71.889999,72.050003,3.37,110.940002,58.250000,55.610001,275.269989,10.83,0.033333
5,6/1/2019,27.600000,78.040001,77.419998,3.43,119.199997,59.630001,58.070000,293.000000,10.93,0.629028
6,7/1/2019,28.250000,80.769997,77.820000,3.42,120.720001,59.549999,59.430000,297.429993,10.93,0.651806
7,8/1/2019,26.920000,79.529999,75.760002,3.43,119.580002,62.580002,60.720001,292.450012,11.21,0.616806
8,9/1/2019,28.000000,80.529999,77.629997,3.42,120.699997,64.739998,61.419998,296.769989,11.12,0.652917
9,10/1/2019,28.700001,83.669998,78.110001,3.43,120.849998,64.250000,61.160000,303.329987,11.12,0.652917
10,11/1/2019,30.150000,88.160004,82.040001,3.41,122.449997,63.049999,62.000000,314.309998,11.09,0.799444
11,12/1/2019,30.780001,91.669998,81.470001,3.46,125.419998,64.620003,62.980000,321.859985,11.05,0.799444
12,1/1/2020,29.960000,95.330000,81.110000,3.45,125.320000,68.980000,63.180000,321.730000,11.26,0.799444
13,2/1/2020,31.170000,101.960000,84.640000,3.48,131.690000,70.390000,64.790000,337.600000,11.23,0.799444

In [17]:
X_train['Prob'] = train_rf_probs.tolist()
X_test

frames = [dropped_values, X_train]

result = pd.concat(frames, axis=1, sort=False)
result

result.to_csv(r'RF_DOWN_GS_ResultsTrain_42.csv')

C:\Users\Aalok Devkota\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.